@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Barriecito&family=Space+Grotesk:wght@400;500;600;700&family=Varela+Round&family=Viga&family=Ysabeau+Infant:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* font-family: 'ABeeZee', sans-serif;
font-family: 'Barriecito', cursive;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Viga', sans-serif;
font-family: 'Ysabeau Infant', sans-serif; */

body {
  background-color: #fffdf9;
  /* font-family: fantasy; */
}



.logoTitle {

  text-transform: capitalize;
  background: linear-gradient(to right, #eb7e09 0%, #f6c112 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bannerImg {
  background-image: url('../Assets/Homepage/bannerImg.jpeg');
  background-size: cover;
  height: 93vh;

}